/* script{display: none !important;} */
@media(min-width:576px){.container{max-width:540px;}}
@media(min-width:768px){.container{max-width:720px;}}
@media(min-width:992px){.container{max-width:960px;}}
@media(min-width:1200px){.container{max-width:1140px;}}
html,body{height: 100%;}
.container{margin: 0 auto;}

.ivu-card:hover{z-index: 1;}
.ivu-input-group .ivu-btn{margin: -6px -7px;}
.ivu-input-group-prepend .ivu-btn{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ivu-input-group-append .ivu-btn{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.ivu-input-group .ivu-btn:focus,
.ivu-button-group .ivu-btn:focus{
  z-index: 3;
}
/* label.ivu-upload-drag{display: block;}
label.ivu-upload-drag input[type="file"]{display: none;}
label.ivu-upload-drag input[type="text"]{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
} */
.ivu-menu-horizontal{height: 50px;line-height: 50px;}
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item-active,
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item:hover,
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-submenu-active,
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-submenu:hover {
	background:#FFF
}
.ivu-menu-primary.ivu-menu-horizontal>.ivu-menu-item-active,
.ivu-menu-primary.ivu-menu-horizontal>.ivu-menu-item:hover,
.ivu-menu-primary.ivu-menu-horizontal>.ivu-menu-submenu-active,
.ivu-menu-primary.ivu-menu-horizontal>.ivu-menu-submenu:hover{
    background: #0064ce;
}
.ivu-table tr:hover td {background-color: #ebf7ff;}